.services{
    padding: 30px;
}
.service-cart{
    
    margin:10px ;
    border: 1px solid gray;
    width: 350px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.919);
    color: white;
    padding: 5px;
    border-radius: 10px;
    
}
