.header {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmvCAF5_DQFAaxMxLH4jgCPU4OFEnrMfBTlg&usqp=CAU"),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)); 
    
  height: 500px;
  width: 100%;
  
   background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 59px;
}
